<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more icon">
            <img
                class="top-bar__more-icon"
                src="./assets/icons/more.svg"
                alt=""
            />
        </button>

        <!-- Logo -->
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h2 class="logo__title">grocerymart</h2>
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Departments
                        <img
                            class="navbar__arrow icon"
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                        />
                    </a>
                    <!-- Mega menu -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Đoàn quân Việt Nam đi chung lòng cứu quốc, bước chân
                            dồn vang trên đường gập ghềnh xa, cờ in máu chiến
                            thắng mang hồn nước, súng ngoài xa chen khúc quân
                            hành ca, đường vinh quang xây xác quân thù, thắng
                            gian lao cùng nhau lập chiến khu
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img
                            class="navbar__arrow icon"
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                        />
                    </a>
                    <!-- Mega menu -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Đoàn quân Việt Nam đi, sao vàng phấp phới. Dắt giống
                            nòi quê hương qua nơi lầm lan. Cùng chung sức phấn
                            đấu xây đời mới. Đứng đều lên gông xích ta đập tan.
                            Từ bao lâu ta nuốt căm hờn. quyết hy sinh đời ta
                            tươi thăm hơn. Vì nhân dân chiến đấu không ngừng.
                            tiến mau ra sa trường. tiến lên cùng tiến lên Nước
                            non Việt Nam ta vững bền
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img
                            class="navbar__arrow icon"
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                        />
                    </a>
                    <!-- Mega menu -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 3 ipsum dolor sit amet consectetur adipisicing
                            elit. Vero expedita, esse, sapiente rem corporis
                            eius sint est porro quo dolores, aperiam ipsa
                            maiores dignissimos corrupti perferendis? Temporibus
                            at voluptate vitae.
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                </button>
            </div>

            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <div class="top-act__user">
                <img
                    src="./assets/img/avatar.jpg"
                    alt="avatar"
                    class="top-act__avatar"
                />
            </div>
        </div>
    </div>
</div>
